<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Schedule</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>My Schedule</h1>
    </header>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: teal;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: teal;
            color: white;
            text-align: center;
            padding: 10px;
            border-radius: 70px;
        }

        main {
            margin: 20px;
        }

        #lab-schedule {
            margin-bottom: 30px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #333;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        h2 {
            background-color: coral;
            color: black;
            text-align: center;
            padding: 10px;
            border-radius: 70px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        tr:hover {
            color: coral;
        }
    </style>
    <main>
        <section id="lab-schedule">
            <h2>Face-to-Face Classes</h2>
            <table>
                <tr>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Subject</th>
                    <th>Teacher</th>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>1:00 PM - 4:00 PM</td>
                    <td>IT Elective 3</td>
                    <td>Prof. Alamo</td>
                </tr>           
            </table>
            <h2>Online Classes</h2>
            <table>
                <tr>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Subject</th>
                    <th>Teacher</th>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>5:00 PM - 7:00 PM</td>
                    <td>IT Elective(FULLSTACK)</td>
                    <td>Prof. Alamo</td>
                </tr>
            </table>
        </section>
    </main>


</body>
</html>
